/* OFERTA DE CLASES */

.box-oferta {
	min-height: 1200px;
	background-color: #F5F5F5;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.name-supply {
	margin: 0 auto;
	text-align: center;
	color: gray;
	font-size: 45px;
	padding: 100px 0 0px;
}

.line2 {
	width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid gray;
	top: 30px;
	position: relative;
}

[class*="col-"] {
	min-height: 7px;
	margin-bottom: 3px;
	padding: 0 12px 25px;
	float: left;
}

.col-4 {
	/* (4 / 12) x 100 */
	width: 33.33%;
}

.grid-caja {
	width: 1034px;
	margin: 0 auto;
	min-height: 800px;
	position: relative;
	top: 72px;
}

.caja {
	height: 450px;
	background-color: #616161;
}

.categoria-descripcion {
	height: 160px;
	position: relative;
	background-color: #E0E0E0;
	top: 290px;
}

.categoria {
color: gray;
padding: 30px 30px 0;
font-size: 22px;
}

.descripcion {
color: gray;
padding: 30px 30px 0;
}