.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/fondo5.jpg");
}

.box-nosotros {
	border-top: 1px solid gray;
	position: relative;
}

.name-nosotros {
	margin: 0 auto;
	text-align: center;
	color: white;
	font-size: 45px;
	padding: 15% 0px 0px;
	font-family: 'Poiret One', cursive;
}

.linea3 {
	width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid gray;
	top: 30px;
	position: relative;
}

.contenido-nosotros {
	position: relative;
	margin: 0 auto;
	font-size: 25px;
	text-align: center;
	color: white;
	padding: 8% 0px;
	width: 50%;
	font-family: 'Roboto', sans-serif;
}

.pilares {
	min-height: 380px;
	background-image: url(../img/fondo3.jpg);
}

[class*="col-"] {
	min-height: 7px;
	margin-bottom: 3px;
	padding: 0 30px 30px;
	float: left;
}

.row {
	width:900px;
	margin: 0 auto;
	position: relative;
	/*top: 45px;*/
	padding: 25px 0;
}

.col-4 {
	/* (4 / 12) x 100 */
	width: 33.33%;
}

.pilar {
	/*background-color: black;*/
	height: 300px;
}

.name-pilar {
	text-align: center;
	font-size: 25px;
	color: gray;
	padding: 40px;
	border-bottom: 1px solid gray;
}

.col-3 {
	/* (3 / 12) x 100 */
	width: 25%;
} 

.descripcion {
	text-align: center;
	padding: 38px 0;
	line-height: 22px;
	color: gray;
}

.box-instructores {
	min-height: 1000px;
	background-color: #F5F5F5;
}

.name-instructores {
	margin: 0 auto;
	text-align: center;
	color: gray;
	font-size: 45px;
	padding: 100px 0 0px;
	font-family: 'Poiret One', cursive;
}

.linea4 {
	width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid gray;
	top: 30px;
	position: relative;
}
/*GRID INSTRUCTORES*/

.grid-instructores {
	width: 1140px;
	margin: 0 auto;
	position: relative;
	top: 95px;
	height: 300px;
}

.section {
	height: 335px;
	background-color: #616161;
}

.categoria1-descripcion1 {
	height: 100px;
	position: relative;
	background-color: #F5F5F5;
	top: 235px;
}

.categoria1 {
	color: gray;
	padding: 9px 9px 0;
	font-size: 22px;
}

.descripcion1 {
	color: gray;
	padding: 10px 9px 0;
}

.frase-inspiradora {
	height: 180px;
	background-color: white;
}

.frase-texto {
	text-align: center;
	font-size: 50px;
	margin: 8%;
}